body {
    background-color: black;
    color: seashell;
    font-family:Helvetica;
    font-size: 22px;
    opacity: 0.9;
    margin: 0;
}



/* Header Styling */

.header-banner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 69px;
    border-bottom: 1px solid seashell;
}

.logo-img {
    height: 50px;
    padding-left: 10px;
}

.nav-links {
    display: flex;
    text-decoration: underline;
    list-style: none;
}

.nav-links li {
    padding: 0 10px;
}

/* Company Mission Hero section */

.hero-image {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("https://content.codecademy.com/courses/freelance-1/unit-4/img-mission-background.jpg");
    height: 700px;
    width: 1200px;
    margin: 0 auto;
    position: relative;
}

.hero-text {
    background-color: black;
    color: seashell;
    width: 1200px;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


/* Tea of the Month Section */

.tea-of-the-month {
    width: 1000px;
    padding: 10% 0;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.totm-images {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.tea-images {
    width: 300px;
    height: 200px;
    margin: 0 10px;
}

.totm-images h4 {
    margin-top: 10px;
}

/* How to find us Locations section */

.locations-image {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("https://content.codecademy.com/courses/freelance-1/unit-4/img-locations-background.jpg");
    height: 500px;
    width: 1200px;
    margin: 0 auto;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.locations {
    display: flex;
    flex-wrap: wrap;
}

.location-styling {
    background-color: black;
    width: 300px;
    margin: 0 20px;
    align-items: center;
}

.locations h3 {
    margin: 40px 0;
}

.locations p {
    margin: 40px 0;
}

.locations-image h2 {
    margin-bottom: 15px;
}

/* Contact Info */

.contact-info {
    display: flex;
    text-align: center;
    flex-direction: column;
    height: 200px;
}

.contact-info h2 {
    margin-top: 10px;
}

.contact-info h5 {
    margin: 10px 0;
}

.contact-info p {
    margin-top: 10px;
}

/* Footer styling */

.footer {
    margin-left: 20px;
}